body {
	background-image: url("../img/bg.jpg");
	color: #000000;
}
label {
	font-weight: normal;
}
.container {
	padding-left: 0px;
	padding-right: 0px;
}
.form-group { 
	display: inline-block; 
}
.form-inline {
	padding-left: 10px;
}
.form-control.inp-sm {
	width: 75px;
	/*margin-right: 10px;*/
	border-radius: 0;
}
.form-control.inp-md {
	width: 100px;
	margin-right: 10px;
	border-radius: 0;
}
.tracker-form {
	display: inline-block;
	-moz-appearance:textfield;
	text-align: center;
}
.tracker-form::-webkit-outer-spin-button,
.tracker-form::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.header-label {
	display: block;
	margin: 10px 0;
	text-align: center;
}
.material-btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 35px;
	width: 35px;
	line-height: 35px;
	color: #424242;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	border: none;
	user-select: none;
	border-radius: 2px;
	transition: all .3s ease-out;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
	color: #FFF;
    background-color: #03a9f4; 
}
.material-btn:hover { 
	text-decoration: none;
	box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225); 
	background-color: #0fb2fc; 
}
#error-output {
	display: none;
}
#error-message {
	display: none;
}
/* Popover CSS */
.popover-title{
	background-color: #ff3333;
	color: #ffffff;
}
.popover-content{
	background-color: #E8E8E8;
	color: #000000;
}
@media screen and (max-width: 760px) {
	.mobile-margin {
		margin-left: 0 !important;
	}
}
/* Material styled tabs */
.nav-tabs { 
	border-bottom: 2px solid #DDD; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover { 
	color: #000;
	border-radius: 0;
 	border-width: 0; 
 }
.nav-tabs > li > a { 
	border: none; 
	color: #000; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li > a:hover { 
	border-radius: 0;
	color:#000;
}
.nav-tabs > li > a::after { 
	content: ""; 
	background: #005B9F; 
	height: 2px; 
	position: absolute;
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}
.nav-tabs > li.active > a::after, 
.nav-tabs > li:hover > a::after { 
	transform: scale(1); 
}