body {
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	color: #000000;
}
label {
	font-weight: normal;
}
[lang="jp"] {
	display: none;
}
.container {
	padding-left: 0px;
	padding-right: 0px;
	background-color: #E0E0E0;
}
.form-group { 
	display: inline-block; 
}
.form-inline {
	padding-left: 10px;
	padding-top: 10px;
}
.form-control.inp-sm {
	width: 75px;
	border-radius: 0;
}
.form-control.inp-md {
	width: 100px;
	margin-right: 10px;
	border-radius: 0;
}
.info {
	margin-left: 10px;
	margin-bottom: 10px;
}
#error-output {
	display: none;
}
#error-message {
	display: none;
}
/* Popover CSS */
.popover-title{
	background-color: #ff3333;
	color: #ffffff;
}
.popover-content{
	background-color: #E8E8E8;
	color: #000000;
}
@media screen and (max-width: 760px) {
	.mobile-margin {
		margin-left: 0 !important;
	}
}
/* Material styled tabs */
.nav-tabs { 
	border-bottom: 2px solid #DDD; 
	background-color: #0288D1;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover { 
	color: #000;
	border-radius: 0;
 	border-width: 0; 
 }
.nav-tabs > li > a { 
	border: none; 
	color: #000; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li > a:hover { 
	border-radius: 0;
	color:#000;
}
.nav-tabs > li > a::after { 
	content: ""; 
	background: #005B9F; 
	height: 2px; 
	position: absolute;
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}
.nav-tabs > li.active > a::after, 
.nav-tabs > li:hover > a::after { 
	transform: scale(1); 
}
/* GitHub Corners */
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-25deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
.lang-label {
	position: relative;
	top: -15;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
	display:none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	-webkit-transition: .3s;
	transition: .3s;
	border-radius: 28px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 6px;
	bottom: 4px;
	background-color: #0288D1;
	transition: .3s;
	border-radius: 50%;
}

input:checked + .slider:before {
	background-color: red;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}