body {
	background-image: url("http://granbluefantasy.jp/en/common/images/bg_static.jpg");
	color: #000000;
}
label {
	font-weight: normal;
}
.form-group { 
	display: inline-block; 
}
.form-inline {
	padding-left: 10px;
}
.form-control.inp-sm {
	width: 75px;
	margin-right: 10px;
}
.form-control.inp-md {
	width: 100px;
	margin-right: 10px;
}
#calc-header {
	margin-bottom: 10px;
}
#error-output {
	display: none;
}
#error-message {
	display: none;
}
/* Popover CSS */
.popover-title{
	background-color: #ff3333;
	color: #ffffff;
}
.popover-content{
	background-color: #E8E8E8;
	color: #000000;
}