body {
	background-color: #563200;
	color: #ffffff;
}
label {
	font-weight: normal;
}
.form-inline {
	padding-left: 10px;
}
.form-control.inp-sm {
	width: 75px;
	margin-right: 10px;
}
.form-control.inp-md {
	width: 100px;
	margin-right: 10px;
}
#calc-header {
	margin-bottom: 10px;
}
#error-output {
	display: none;
}

/* Popover CSS */
.popover-title{
	background-color: #ff3333;
	color: #ffffff;
}
.popover-content{
	background-color: #D5A86A;
	color: #ffffff;
}