@use "colors" as *;

.container {
  padding-left: 0;
  padding-right: 0;
  background-color: #E0E0E0;
  border-radius: 8px;
}

.nav-tabs {
  border-radius: 8px 8px 0 0;
  background-color: $accent-blue;

  & .nav-item {
    border: none;
    margin: 0;
  }
}

.nav-tabs .nav-link {
  position: relative;
  color: #000;
  transition: .25s all;

  &:hover {
    border-color: transparent;
    background-color: white;
  }

  &::after {
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -1px;
    position: absolute;
    background: $darker-blue;
    transform: scaleX(0);
    transition: transform .25s ease;
    will-change: transform;
  }

  &.active::after,
  &:hover::after {
    transform: scaleX(1);
  }
}
