@import "_colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.checkbox-col {
  display: flex;

  @include media-breakpoint-between(sm, sm) {
    margin-top: 1rem;
  }
}

.will-hide {
  transition: all .2s ease-in-out;

  &[hidden] {
    display: initial !important;
    opacity: 0;

    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 15px;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  .input-container {
    position: relative;
    height: 32px;
    width: 120px;
    margin: 0 15px 0 0;

    &:hover {
      //TODO: add something
    }

    @include media-breakpoint-up(sm) {
      &:last-child {
        margin: 0;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
      width: 100%;
    }

    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      cursor: pointer;
    }

    .radio-tile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
      border: 2px solid $accent-blue;
      border-radius: 4px;
      transition: transform .3s ease;
    }

    .radio-tile-label {
      margin: 0;
      color: $accent-blue;
      font-weight: 600;
      font-size: 0.75rem;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .radio-button:checked + .radio-tile {
      color: white;
      background-color: $accent-blue;
      border: 2px solid $accent-blue;
      //transform: scale(1.1);

      .radio-tile-label {
        color: white;
        background-color: $accent-blue;
      }
    }
  }
}
