@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

body {
  background: url("./assets/bg.jpg") no-repeat center fixed;
}

@include media-breakpoint-up(sm) {
  html {
    height: 100vh;
  }

  body {
    height: 100%;
    overflow: hidden;
    background-size: cover;
  }
}

.tab-pane {
  padding: 15px;
}

.no-wrap {
  white-space: nowrap;
}

.input-sm {
  padding: 5px 10px;
  max-width: 120px;
}
